<!DOCTYPE html>
<html lang="en-GB" manifest="offline.appcache" type="text/cache-manifest">
<head>
    <script>
        sessionStorage.clear();
        window.location.replace("/");
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Logging out</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/mediaqueries.css" rel="stylesheet" type="text/css"/>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
</head>
<body>
<header id="logoutHeader" class="header"></header>

<footer id="logoutFooter" class="footer"><span class="credits">COMM049 Coursework - Class of 2014 - Larissa Barra Conde</span></footer>
</body>
</html>